@model SchoolDistrictBilling.Models.CharterSchoolView

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    <style type="text/css">

        .field-validation-error {
            color: #ff0000;
        }
    </style>
</head>

<body style="margin-bottom:60px;">
    <h4>@Model.CharterSchool.Name Calendar</h4>

    <form asp-action="Calendar" runat="server">
        <!-- Use for loop here to allow list to populate on POST back -->
        @for (var i = 0; i < Model.CharterSchoolSchedules.Count(); i++)
        {
            <div class="row">
                <input type="hidden" asp-for="@Model.CharterSchool.CharterSchoolUid" />
                <input type="hidden" asp-for="@Model.CharterSchool.Name" />

                <input type="hidden" asp-for="@Model.CharterSchoolSchedules[i].CharterSchoolUid" />
                <input type="hidden" asp-for="@Model.CharterSchoolSchedules[i].CharterSchoolScheduleUid" />

                <div class="col-sm-2">
                    <label asp-for="@Model.CharterSchoolSchedules[i].StartGrade" class="control-label"></label>
                    <input asp-for="@Model.CharterSchoolSchedules[i].StartGrade" class="form-control" />
                    <span asp-validation-for="@Model.CharterSchoolSchedules[i].StartGrade" class="text-danger"></span>
                </div>

                <div class="col-sm-2">
                    <label asp-for="@Model.CharterSchoolSchedules[i].EndGrade" class="control-label"></label>
                    <input asp-for="@Model.CharterSchoolSchedules[i].EndGrade" class="form-control" />
                    <span asp-validation-for="@Model.CharterSchoolSchedules[i].EndGrade" class="text-danger"></span>
                </div>

                <div class="col-sm-4">
                    <label asp-for="@Model.CharterSchoolSchedules[i].FirstDay" class="control-label"></label>
                    <input asp-for="@Model.CharterSchoolSchedules[i].FirstDay" class="form-control" />
                    <span asp-validation-for="@Model.CharterSchoolSchedules[i].FirstDay" class="text-danger"></span>
                </div>

                <div class="col-sm-4">
                    <label asp-for="@Model.CharterSchoolSchedules[i].LastDay" class="control-label"></label>
                    <input asp-for="@Model.CharterSchoolSchedules[i].LastDay" class="form-control" />
                    <span asp-validation-for="@Model.CharterSchoolSchedules[i].LastDay" class="text-danger"></span>
                </div>

            </div>
        }
        <hr />

        <div class="container" style="width:500px">
            <div id="calendar"></div>
        </div>

        <div>
            <!-- <a asp-action="Edit" asp-route-id="@Model.CharterSchool.CharterSchoolUid">Done</a> -->
            <input type="submit" value="Done" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">$(document).ready(function () {
                $('#calendar').fullCalendar({
                    height: 500,
                    aspectRatio: 2,
                    header: {
                        left: 'prev,next today',
                        right: 'title'
                        /*center: 'title',
                        right: 'month,agendaWeek,agendaDay'*/
                    },
                    firstDay: 0, /*The day that each week begins (Monday=1)*/
                    slotMinutes: 60,
                    selectable: true,
                    /*events: [{ id: 1, title: 'New event', start: new Date() }],*/
                    /* events: '/CharterSchools/GetCalendarEvents', */
                    /*viewRender: function (view, element) {
                        $('#calendar').fullCalendar('renderEvent', { id: 1, title: 'New event', start: new Date() }, true);
                        $('#calendar').fullCalendar('unselect');
                    },*/
                    viewRender: function (view, element) {
                        //console.log(view);
                        //console.log(element);

                        axios({
                            method: 'post',
                            //url: '/sdbilling-test/CharterSchools/GetCalendarEvents',
                            url: '@Url.Action("GetCalendarEvents", "CharterSchools")',
                            data: {
                                "Title": view.title,
                                "CharterSchoolScheduleUid": @Model.CurrentScheduleUid
                            }
                        })
                            .then(res => {

                                if (res.data != null) {
                                    console.log(res.data);

                                    res.data.forEach(function (x) {
                                        $('#calendar').fullCalendar('renderEvent', x);
                                        $('#calendar').fullCalendar('unselect');
                                    });
                                } else {
                                    alert(`Something went wrong: ${message}`);
                                }
                            })
                            .catch(err => alert(`Something went wrong: ${err}`));
                    },
                    select: function (start, end, jsEvent, view) {
                        axios({
                            method: 'post',
                            //url: '/sdbilling-test/CharterSchools/AddCalendarEvent',
                            url: '@Url.Action("AddCalendarEvent", "CharterSchools")',
                            data: {
                                "CharterSchoolScheduleUid": @Model.CurrentScheduleUid,
                                "Title": "Holiday",
                                "Description": "Holiday",
                                "Start": start,
                                "End": end,
                                "AllDay": true
                            }
                        })
                            .then(res => {
                                const { message, charterSchoolScheduleDateUid } = res.data;

                                console.log("addevent:" + charterSchoolScheduleDateUid);
                                console.log(res.data);

                                if (message === '') {
                                    const newEvent = {
                                        start: start,
                                        end: end,
                                        allDay: true,
                                        title: "Holiday",
                                        description: "Holiday",
                                        EventId: charterSchoolScheduleDateUid
                                    };

                                    //console.log(newEvent);

                                    $('#calendar').fullCalendar('renderEvent', newEvent);
                                    $('#calendar').fullCalendar('unselect');
                                } else {
                                    alert(`Something went wrong: ${message}`);
                                }
                            })
                            .catch(err => alert(`Something went wrong: ${err}`));
                        /*$("#calendar").fullCalendar('removeEvents', 1);*/
                        /*var event = { id: 1, title: 'New event', start: new Date() };
                        $("#calendar").fullCalendar('renderEvent', event, true);*/
                    },
                    eventClick: function (event) {
                        console.log(event);
                        axios({
                            method: 'post',
                            //url: '/sdbilling-test/CharterSchools/RemoveCalendarEvent',
                            url: '@Url.Action("RemoveCalendarEvent", "CharterSchools")',
                            data: {
                                "EventId": event.EventId ?? event.eventId
                            }
                        })
                            .then(res => {
                                const { message, eventId } = res.data;

                                if (message === '') {
                                    $('#calendar').fullCalendar('removeEvents', event._id);
                                    $('#calendar').fullCalendar('unselect');
                                } else {
                                    alert(`Something went wrong: ${message}`);
                                }
                            })
                            .catch(err => alert(`Something went wrong: ${err}`));
                    }
        		});
});
    </script>
}

