@model SchoolDistrictBilling.Models.CharterSchoolView

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    <style type="text/css">

        .field-validation-error {
            color: #ff0000;
        }
        .link {
            font-size: large;
        }
    </style>
</head>

<body style="margin-bottom:60px;">
    <div class="row">
        <h4>Edit Charter School</h4>
    </div>
    <hr />

    <form asp-action="Edit" runat="server">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="CharterSchool.CharterSchoolUid" />

        <div class="row form-group">
            <label asp-for="CharterSchool.Name" class="col-md-1 control-label"></label>
            <div class="col-md-4">
                <input asp-for="CharterSchool.Name" class="form-control" />
                <span asp-validation-for="CharterSchool.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="CharterSchool.AddressStreet" class="col-md-1 control-label"></label>
            <div class="col-md-5">
                <input asp-for="CharterSchool.AddressStreet" class="form-control" />
                <span asp-validation-for="CharterSchool.AddressStreet" class="text-danger"></span>
            </div>

            <label asp-for="CharterSchool.Phone" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <input asp-for="CharterSchool.Phone" class="form-control" />
                <span asp-validation-for="CharterSchool.Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="CharterSchool.AddressCity" class="col-md-1 control-label"></label>
            <div class="col-md-3">
                <input asp-for="CharterSchool.AddressCity" class="form-control" />
                <span asp-validation-for="CharterSchool.AddressCity" class="text-danger"></span>
            </div>

            <label asp-for="CharterSchool.AddressState" class="col-md-1 control-label"></label>
            <div class="col-md-1">
                <input asp-for="CharterSchool.AddressState" class="form-control" />
                <span asp-validation-for="CharterSchool.AddressState" class="text-danger"></span>
            </div>

            <label asp-for="CharterSchool.AddressZip" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <input asp-for="CharterSchool.AddressZip" class="form-control" />
                <span asp-validation-for="CharterSchool.AddressZip" class="text-danger"></span>
            </div>
        </div>


        <hr />
        <div class="row">
            <h4>Contacts</h4>
            <span style="width:50px;display:inline-block"></span>
            <h4><a asp-action="CreateContact" asp-route-id="@Model.CharterSchool.CharterSchoolUid" class="link">Add</a></h4>
        </div>

        @for (var i = 0; i < Model.Contacts.Count(); i++)
        {
            <div class="form-group">
                <div class="row">

                    <input type="hidden" asp-for="@Model.Contacts[i].CharterSchoolUid" />
                    <input type="hidden" asp-for="@Model.Contacts[i].CharterSchoolContactUid" />

                    <div class="col-md-3">
                        <label asp-for="@Model.Contacts[i].Name" class="control-label"></label>
                        <input asp-for="@Model.Contacts[i].Name" class="form-control" />
                        <span asp-validation-for="@Model.Contacts[i].Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="@Model.Contacts[i].Email" class="control-label"></label>
                        <input asp-for="@Model.Contacts[i].Email" class="form-control" />
                        <span asp-validation-for="@Model.Contacts[i].Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="@Model.Contacts[i].Phone" class="control-label"></label>
                        <input asp-for="@Model.Contacts[i].Phone" class="form-control" />
                        <span asp-validation-for="@Model.Contacts[i].Phone" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1">
                        <label asp-for="@Model.Contacts[i].PrimaryFlag" class="control-label"></label>
                        <input asp-for="@Model.Contacts[i].PrimaryFlag" class="form-control" />
                        <span asp-validation-for="@Model.Contacts[i].PrimaryFlag" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }


        <hr />
        <div class="row">
            <h4>School Calendar(s)</h4>
            <span style="width:50px;display:inline-block"></span>
            <h4><a asp-action="CreateSchedule" asp-route-id="@Model.CharterSchool.CharterSchoolUid" class="link">Add</a></h4>
        </div>

        @for (var i = 0; i < Model.CharterSchoolSchedules.Count(); i++)
        {
            <div class="form-group">
                <div class="row">

                    <input type="hidden" asp-for="@Model.CharterSchoolSchedules[i].CharterSchoolUid" />
                    <input type="hidden" asp-for="@Model.CharterSchoolSchedules[i].CharterSchoolScheduleUid" />

                    <div class="col-sm-1">
                        <label asp-for="@Model.CharterSchoolSchedules[i].StartGrade" class="control-label"></label>
                        <input asp-for="@Model.CharterSchoolSchedules[i].StartGrade" class="form-control" />
                        <span asp-validation-for="@Model.CharterSchoolSchedules[i].StartGrade" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1">
                        <label asp-for="@Model.CharterSchoolSchedules[i].EndGrade" class="control-label"></label>
                        <input asp-for="@Model.CharterSchoolSchedules[i].EndGrade" class="form-control" />
                        <span asp-validation-for="@Model.CharterSchoolSchedules[i].EndGrade" class="text-danger"></span>
                    </div>

                    <!-- TODO: don't show time with these date selectors -->
                    <div class="col-sm-3">
                        <label asp-for="@Model.CharterSchoolSchedules[i].FirstDay" class="control-label"></label>
                        <input asp-for="@Model.CharterSchoolSchedules[i].FirstDay" class="form-control" />
                        <span asp-validation-for="@Model.CharterSchoolSchedules[i].FirstDay" class="text-danger"></span>
                    </div>

                    <div class="col-sm-3">
                        <label asp-for="@Model.CharterSchoolSchedules[i].LastDay" class="control-label"></label>
                        <input asp-for="@Model.CharterSchoolSchedules[i].LastDay" class="form-control" />
                        <span asp-validation-for="@Model.CharterSchoolSchedules[i].LastDay" class="text-danger"></span>
                    </div>

                    <div class="col-sm-2 text-right">
                        <br />
                        <a asp-action="Calendar" class="link" asp-route-id="@Model.CharterSchoolSchedules[i].CharterSchoolScheduleUid">Calendar</a>
                    </div>
                </div>
            </div>
        }

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

