@model IEnumerable<SchoolDistrictBilling.Models.SchoolDistrict>

@{
    @* ViewData["Title"] = "School Districts"; *@
}
@* <h1>@ViewData["Title"]</h1> *@

<h4>School Districts</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolDistrictUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolDistrictUid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SchoolDistrictUid">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.SchoolDistrictUid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>