@model IEnumerable<SchoolDistrictBilling.Models.PaymentView>

<h2>Payments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Charter School
            </th>
            <th>
                School District
            </th>
            <th>
                Amount
            </th>
            <th>
                Check #
            </th>
            <th>
                Paid By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharterSchool.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolDistrict.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentUid">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentUid">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>