@model SchoolDistrictBilling.Models.ReportCriteriaView

<h2>Year End Reconciliation</h2>

<br />

<form asp-action="Generate" method="post">
    <div class="row form-group">
        <label asp-for="CharterSchoolUid" class="col-md-2 col-form-label"></label>
        <div class="col-md-4">

            @*@Html.DropDownListFor(model => model, new SelectList(Model, "CharterSchoolUid", "Name"), new { @class = "form-control" })*@


            <select id="drpSchool" class="form-control" asp-for="CharterSchoolUid" asp-items="@(new SelectList(Model.CharterSchools, "CharterSchoolUid", "Name"))">
                <option value="">--Select--</option>
            </select>
            <input type="hidden" asp-for="CharterSchoolUid" />
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="Year" class="col-md-2 col-form-label"></label>
        <!--<div class="col-md-2">
            <select id="drpMonth" class="form-control" asp-for="Month" asp-items="@(new SelectList(Model.Months, Model.CurrentMonth))">
            </select>
            <input type="hidden" asp-for="Month" />
        </div>-->
        <div class="col-md-2">
            <select id="drpYear" class="form-control" asp-for="Year" asp-items="@(new SelectList(Model.YearEndYears, Model.CurrentYear))">
            </select>
            <input type="hidden" asp-for="Year" />
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="SendTo" class="col-md-2 col-form-label"></label>
        <div class="col-md-4">
            <select id="drpSendTo" class="form-control" asp-for="SendTo" asp-items="@(new SelectList(Model.SendToList, "School"))">
            </select>
            <input type="hidden" asp-for="SendTo" />
        </div>
    </div>
    <div class="row form-group" id="schoolDistrictRow">
        <label asp-for="SelectedSchoolDistricts" class="col-md-2 col-form-label"></label>
        <div class="col-md-4">
            <select id="drpSchoolDistrict" class="form-control" asp-for="SelectedSchoolDistricts" multiple>
            </select>
            <input type="hidden" asp-for="SelectedSchoolDistricts" />
        </div>
    </div>

    <div class="row form-group">
        <input type="submit" value="Generate Reports" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#schoolDistrictRow').hide();
        });

        $('#drpSchool').change(function () {
            var val = $(this).val();
            var sdSelect = $('#drpSchoolDistrict');
            sdSelect.empty();

            $.getJSON('@Url.Action("GetSchoolDistricts")', { charterSchoolUid: val }, function (schoolDistricts) {
                if (schoolDistricts != null && !jQuery.isEmptyObject(schoolDistricts)) {
                    /*sdSelect.append($('<option/>', { value: null, text: "" }));*/
                    $.each(schoolDistricts, function (index, sd) {
                        //console.log(sd);
                        sdSelect.append($('<option/>', { value: sd.value, text: sd.text }));
                    });
                };
            });
        });

        $('#drpSendTo').change(function () {
            var val = $(this).val();
            if (val === 'PDE') {
                $('#schoolDistrictRow').show();
            }
            else {
                $('#schoolDistrictRow').hide();
            }
        });
    </script>
}